# Claude files
.claude/

# IDE files
.DS_Store
.idea/
.project
.puppeteer_profile/
.vs/
.vscode/

# Debug files
*.swp
npm-debug.log

# Test files
test/e2e/chromium
test/e2e/output-screenshots
test/treeshake/index.bundle.js
test/treeshake/index.bundle.min.js
test/treeshake/index.webgpu.bundle.js
test/treeshake/index.webgpu.bundle.min.js
test/treeshake/index.webgpu.nodes.bundle.js
test/treeshake/index.webgpu.nodes.bundle.min.js
test/treeshake/index.webgpu.tsl.bundle.js
test/treeshake/index.webgpu.tsl.bundle.min.js
test/treeshake/three.module.bundle.min.js
test/treeshake/three.webgpu.bundle.min.js
test/treeshake/three.webgpu.nodes.bundle.min.js
test/unit/build

# Node modules
/node_modules

# Theory
/theory
